html, body {
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    min-height: 100vh;
}

.content {
    width: 65%;
    height: max-content;
    padding-bottom: 60px;
}

.menu {
    width: 35%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 150px;
    right: 0px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-box {
    font-family: 'Spectral', serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: .3;
    letter-spacing: -1px;
    opacity: .6;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info-text {
    display: inline;
}

.strong {
    font-weight: 700;
}

.loading, #count {
    display: inline;
}

.loading {
    margin-top: 18px;
}

#seed-input {
    font-family: 'Spectral', serif;
    text-shadow: 3px 2px 4px #979797;
    font-size: 64px;
    width: 100%;
    padding: 5px;
    border: none;
    text-align: center;
    background: none;
}

#seed-input:focus {
    outline: none;
}

::placeholder {
    color: black;
}

.footer {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 40px;
    left: 0px;
    bottom: 0px;
    font-family: 'Spectral', serif;
    font-size: 12px;
    letter-spacing: -.5px;
    margin-top: 50px;
}

.footer > div {
    margin: 0 30px;
    color: #979797;
}

.icon {
    width: 20px;
    height: auto;
    opacity: .3;
}

.icon:hover {
    opacity: .8;
}

.link {
    color: #979797;
    text-decoration: none;
}

.link:hover {
    color: black;
    text-decoration: underline;
}

.hidden {
    visibility: hidden;
    transition: all, 1s, linear;
}

.help-icon {
    margin-top: 24px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: #979797;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-icon-dark {
    margin-top: 24px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    font-weight: 700;
    font-size: 16px;
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.help-icon:hover {
    background-color: black;
    cursor: default;
}

.help-text {
    line-height: 1.1;
    width: 280px;
    text-align: center;
    margin-top: 10px;
}

.background {
    background-image: radial-gradient(farthest-corner at 0 0, white, white, white, #cecece, #8c8c8c);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}