#svg {
    width: 100%;
    min-height: 600px;
    height: max-content;
    display: flex;
    justify-content: center;
}

svg {
    filter: drop-shadow(30px 10px 4px #dcdcdc);
}

.load {
    margin: auto auto;
}

.path {
    fill: none;
    stroke-opacity: 0.7;
    stroke-width: 1.5;
}

.circle {
    stroke-width: 3;
    stroke: #b4b4b4;
    fill: white;
}

.text {
    opacity: .3;
}

.node:hover {
    cursor: default;
}

.node:hover .text {
    opacity: 1;
    font-weight: bold;
}

.node:hover .circle {
    stroke: black;
}

/* .node:hover .text-shadow {
    stroke: white;
} */